<meta charset="UTF-8">
<meta content="width=device-width,height=device-height,maximum-scale=1.0, user-scalable=no" name="viewport">
<link rel="stylesheet" href="__COMMON__/font-awesome/css/font-awesome.min.css?v=1.0.0" />
<link rel="stylesheet" href="//at.alicdn.com/t/font_1280553_t0salzus72.css?v=1.0.0" />
<link rel="stylesheet" href="__COMMON__/system/css/public.min.css?v=1.0.0" />
<link rel="stylesheet" href="__WAP__/css/style.min.css?v=1.1.0" />
<link rel="stylesheet" href="__WAP__/css/response.min.css?v=1.0.0" />
<script src="__COMMON__/system/js/jquery-1.11.3.min.js"></script>