<!DOCTYPE html>
<html lang="en">
<head>
    <title>{$web_title}</title>
    <include file='public/public_head' />
</head>
<body>
    <div class="main-wrap login-wrap has-header">
        <include file='public/header' />
        <div class="container">
            <div class="pic-wrap logo-wrap">
                <img src="__INDEX__/img/img_logo.png" alt="LOGO" class="pic-img logo-img" />
            </div>
            <div class="login-form-wrap">
                <div class="flex rcs login-form-item">
                    <span class="login-item-icon icon icon-user"></span>
                    <input type="text" class="login-item-input" placeholder="请输入账号" />
                </div>
                <div class="flex rcs login-form-item">
                    <span class="login-item-icon icon icon-unlock"></span>
                    <input type="text" class="login-item-input" placeholder="请输入密码" />
                </div>
                <div class="btn-wrap login-btn-wrap">
                    <div class="btn-item login-btn-item">登录</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>