<!DOCTYPE html>
<html lang="en" class="h100">
<head>
    <title>技术支持 - {$web_title}</title>
    {include file='public/public_head' /}
    <link rel="stylesheet" href="__WAP__/css/download.min.css?v=1.0.0" />
</head>
<body>
    <div class="main-wrap download-wrap flex cca">
        <div class="flex ccc over content-item top-content">
            <div class="pic-wrap logo-wrap">
                <img src="__WAP__/img/img_bg_download_logo.png" alt="logo" class="pic-img logo-img"></div>
            <div class="title-content">
                <p class="title">多麦五金商城</p>
                <p class="subtitle">五金器材批发平台</p>
            </div>
        </div>
        <div class="flex ccc over content-item bottom-content">
            <div class="btn-content download-btn-content flex rcc">
                <div class="btn-item download-btn-item" onclick="window.location.href='http://appstore.3todo.com/duomai'">
                    <img src="__WAP__/icon/icon_apple.png" alt="apple" class="btn-icon">
                    <span class="btn-title">IOS下载</span>
                </div>
                <div class="btn-item download-btn-item" onclick="window.location.href='http://appstore.3todo.com/duomai'">
                    <img src="__WAP__/icon/icon_android.png" alt="apple" class="btn-icon">
                    <span class="btn-title">Android下载</span>
                </div>
            </div>
            <div class="footer-title-content none">
                <p class="title">五金批发</p>
                <p class="title">从现在开始</p>
            </div>

            <div class="app-profile mt-20">
                <div class="profile-title f-20 f-fff mb-10">应用描述</div>
                <div class="profile-context f-fff ml-15 mr-15 text-j">“多麦五金商城”专注于厂家与平台结合，渠道共建，品牌共享，为客户提供的一款集找货、比价、采购、对账、订单查询、采购对账、物流配送、产品售后等所有采购环节难题解决方案于一体的一站式采购平台。背靠五金机电行业众多优势厂家资源，为广大五金行业销售者免除一切进货采购烦恼。</div>
            </div>
        </div>
    </div>
    {include file='public/public_script' /}
</body>
</html>